/* =====================GRID===================== */

.grid-contain {
    display: grid ;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        'head head head'
        'nav nav nav'
        'nav main main'
        'nav main main'
        'nav main main'
        'nav main main'
        'nav main main'
        'nav main main'
        'nav main main'
}

/* =====================head===================== */
.header { grid-area: head;}

/* =====================Navigation===================== */

.nav { grid-area: nav; }

/* =====================main===================== */
.main { grid-area: main; }